@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
    color: theme('colors.zinc.700')
  }
}
@layer components {
  .container{
    padding: 2rem 15%;
  }
  .card {
    background-color: theme('colors.gray.50');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
    min-width: 100%;
    min-height: 20%;
    /* transition: all 0.1 ease-in-out */
  }

  /* .card:hover {
    background-color: theme('colors.teal.50');
  } */
}